<ion-tabs>
    <ion-tab-bar slot="start">
        <ion-tab-button tab="appartements">
            <ion-icon name="home"></ion-icon>
            <ion-label>
                <!--  {{ 'TAB1_TITLE' | translate }} -->
                Apparts
            </ion-label>
        </ion-tab-button>
        <ion-tab-button tab="contacts">
            <ion-icon name="people"></ion-icon>
            <ion-label>
                <!-- {{ 'TAB1_TITLE' | translate }} -->
                Contacts
            </ion-label>
        </ion-tab-button>

        <ion-tab-button tab="operations">
            <ion-icon name="bar-chart"></ion-icon>
            <ion-label>
                <!-- {{ 'TAB1_TITLE' | translate }} -->
                Operations
            </ion-label>
        </ion-tab-button>

        <ion-tab-button tab="settings">
            <ion-icon name="build"></ion-icon>
            <ion-label>
                <!-- {{ 'TAB1_TITLE' | translate }} -->
                Paramètres
            </ion-label>
        </ion-tab-button>